SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

